@page "/"

<h1>Rock-Paper-Scissors</h1>

<AuthorizeView>
    <Authorized>
        <JoinGameScreen AuthenticationState="@context" />
    </Authorized>
    <Authorizing>
        <p>Please wait...</p>
    </Authorizing>
    <NotAuthorized>
        <SignInScreen />
    </NotAuthorized>
</AuthorizeView>
